.operator-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.operator-button-container > button {
    border: none;
    background-color: #139ef1;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    width: 50px;
    border-radius: 5px;
    
}